################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/C#/AcmePizza/AcmePizza_CSharp/bin/Debug
