################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/C#/AcmePizza/AcmePizza_CSharp/bin/Debug
/C#/AcmePizza/AcmePizza_CSharp/obj
/C#/AntisocialRobots/AntisocialRobots_CSharp/bin/Debug
/C#/AntisocialRobots/AntisocialRobots_CSharp/obj
/C#/AsyncDownload/AsyncDownload_CSharp/bin/Debug
/C#/AsyncDownload/AsyncDownload_CSharp/obj
/C#/BabyNames/BabyNames_CSharp/bin/Debug
/C#/BabyNames/BabyNames_CSharp/obj
/C#/BlendImages/BlendImages_CSharp/bin/Debug
/C#/BlendImages/BlendImages_CSharp/obj
/C#/Boids/Boids_CSharp/bin/Debug
/C#/Boids/Boids_CSharp/obj
/C#/ComputePi/ComputePi_CSharp/bin/Debug
/C#/ComputePi/ComputePi_CSharp/obj
/C#/DiningPhilosophers/DiningPhilosophers_CSharp/bin/Debug
/C#/DiningPhilosophers/DiningPhilosophers_CSharp/obj
/C#/EditDistance/EditDistance_CSharp/bin/Debug
/C#/EditDistance/EditDistance_CSharp/obj
/C#/GameOfLife/GameOfLife_CSharp/bin/Debug
/C#/GameOfLife/GameOfLife_CSharp/obj
/C#/ImageColorizer/ImageColorizer_CSharp/obj/Debug
/C#/ImageColorizer/ImageColorizer_CSharp/obj/Release
/C#/LINQRayTracer/LINQRayTracer_CSharp/bin/Debug
/C#/LINQRayTracer/LINQRayTracer_CSharp/obj
/C#/MandelbrotFractals/MandelbrotFractals_CppCli/Debug
/C#/MandelbrotFractals/MandelbrotFractals_CppCli/Release
/C#/MandelbrotFractals/MandelbrotFractals_CSharp/bin/Debug
/C#/MandelbrotFractals/MandelbrotFractals_CSharp/obj
/C#/Morph/Morph_CSharp/bin/Debug
/C#/Morph/Morph_CSharp/obj
/C#/NBodySimulation/NBodySimulation/bin
/C#/NBodySimulation/NBodySimulation/obj/x86
/C#/NQueens/NQueens_CSharp/bin/Debug
/C#/NQueens/NQueens_CSharp/obj
/C#/ParallelExtensionsExtras/bin/Debug
/C#/ParallelGrep/ParallelGrep_CSharp/bin/Debug
/C#/ParallelGrep/ParallelGrep_CSharp/obj
/C#/PlinqKnobs/PlinqKnobs_CSharp/bin/Debug
/C#/PlinqKnobs/PlinqKnobs_CSharp/obj/x86
/C#/Raytracer/Raytracer_CSharp/bin/Debug
/C#/Raytracer/Raytracer_CSharp/obj
/C#/Reversi/Reversi/bin
/C#/Reversi/Reversi/obj
/C#/ShakespeareanMonkeys/ShakespeareanMonkeys_CSharp/bin/Debug
/C#/ShakespeareanMonkeys/ShakespeareanMonkeys_CSharp/obj
/C#/SpellChecker/SpellChecker_CSharp/bin/Debug
/C#/SpellChecker/SpellChecker_CSharp/obj
/C#/Strassens/Strassens_CSharp/bin/Debug
/C#/Strassens/Strassens_CSharp/obj
/C#/Sudoku/Sudoku_CSharp/bin/Debug
/C#/Sudoku/Sudoku_CSharp/obj
/C#/VisualizePartitioning/VisualizePartitioning_CSharp/bin/Debug
/C#/VisualizePartitioning/VisualizePartitioning_CSharp/obj
/C#/.vs/AllSamples
